
/* .carousel-image {
  width: 40%;
  height: ;
  object-fit: contain;
} */

/* .carousel-fullscreen-btn {
  color: blue;
  position: absolute;
  top: 1vh;
  right: 1vw;
} */

/* .carousel-left-arrow {
  z-index: 2;
  color: black;
  position: absolute;
  top: 50%;
  left: 5vw;
}

.carousel-right-arrow {
  z-index: 2;
  color: black;
  position: absolute;
  top: 50%;
  right: 5vw;
} */

/* .carousel-fullscreen-btn:hover,
.carousel-left-arrow:hover,
.carousel-right-arrow:hover{
  transform: scale(1.2);
  color: green;
} */

/* .selected-thumbnail {
  border-radius: 50%;
  border: 4px solid black;
} */





