.Home {
  border: 4px solid black;
  margin: 1em;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; */
}

.home-content {
  border: 2px solid blue;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;
}

.home-item {
  border: 2px solid green;
  margin: 1em;
  /* width: fit-content; */
  width: 40em;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-item h3 {
  text-align: center;
  font-size: 200%;
}

.home-item img {
  cursor: pointer;
  width:auto;
  max-height: 25em;
}

@media only screen and (max-width: 768px) {
  .home-item {
    max-width: 20em;
  }
}
