.projects-div {
  border: 4px solid blue;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-header {
  border: 2px solid green;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-content {
  border: 2px solid green;
  margin: 1em;
  padding: 1%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-list {
  border: 2px solid red;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.projects-single {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}