.ProjectCard {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-body {
  border: 2px solid blue;
  width: 30em;
  height: 30em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

  cursor: pointer;
  transform-style: preserve-3d;
  transition: 250ms;
  transform: perspective(800px) rotateY(var(--rotate-y, 0));
}

.project-body.flip {
  --rotate-y: 180deg;
}

.project-body .front,
.project-body .back {
  position: absolute;
  backface-visibility: hidden;
  height: 30em;
}

.project-body .back {
  right: 0;
  transform: rotateY(180deg);
}

.project-img {
  border: 2px solid green;
  width: 25em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img img{
  border: 4px solid black;
  padding: 2px;
  object-fit: contain;
  max-width: 23em;
  max-height: 18em;
}

.project-name {
  border: 2px solid green;
  text-align: center;
  font-weight: bold;
}

.project-short {
  border: 2px solid red;
  text-align: center;
  font-size: 120%;
}

.project-data {
  border: 2px solid red;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-data span {
  margin: 1em auto;
  font-family: monospace;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .project-body {
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-img {
    width: 18em;
    margin: auto;
  }

  .project-img img{
    max-width: 16em;
    max-height: 16em;
  }

  .project-header {
    width: 80%;
    margin: auto;
  }
}
